

#byline {
    text-align:center;
    font-size:1.25em;
    padding-top:30px;
    color: #D21404;
    font-family: "Fira Sans", sans-serif;
    padding-bottom:20px;
}

.container {
    margin:0 auto;
    max-width: 900px;
    width: 100%;
    font-family:'Times New Roman', Times, serif;
}

.image {
    width: 650px;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cap1 {
    margin:0 auto;
    width:650px;
    font-family:'Times New Roman', Times, serif;
    padding-bottom:1%;
    font-style:italic;
}

.cap2 {
    margin:0 auto;
    width:875px;
    font-family:'Times New Roman', Times, serif;
    padding-bottom:1%;
    font-style:italic;
}

footer {
    background-color:#D21404;
    padding-left:10px;
    color:white;
}

/* Topper */

.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hero-container {
    position:relative;
    color:white;
    width:100%;
}

.hero-image {
    width:100%
}

.overlay {
    position: absolute;
    width:100%;
    top:20%;
    left:6%;
    text-align: left;
    font-size:2.5em;
    font-family:"Young Serif", serif;
}

.headtext {
    text-align: left;
    font-size:1em;
    font-family:"Young Serif", serif;
}

.subtext {
  position: absolute;
  top: 28%;      
  left:6%;
  color: #D21404;
  font-size:1.35em;
  font-family: "Fira Sans", sans-serif;
}

.drop-cap::first-letter {
  float: left;            
  font-size: 3rem;      
  line-height: 1;         
  margin-right: 0.1em;    
  font-weight: bold;       
  font-family: "Young Serif", serif;
  color: #D21404;
}

/* Pull Quotes */

.quote {
    font-size:1.8em;
    font-family: "Fira Sans", sans-serif;
    color: #D21404;
    padding-bottom:2%;
}

.big-image{
    width:100%;
}

.bottom-image {
    width:475px;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 800px) {
    .image {
        width:100%;
        height: auto;
    }

     .bottom-image {
        width: 100%;
        height: auto;
    }
    
    .cap1 {
        width: 90%;
        max-width: 100%;
    }
    .cap2 {
        width: 90%;
        max-width: 100%;
    }

      .overlay {
        top: 15%;
        left: 5%;
        font-size: 1.8em; 
    }
    
    .subtext {
        top: 25%;
        left: 5%;
        font-size: 1.1em; 
    }
}

@media screen and (max-width: 600px) {
    .overlay {
        top: 10%;
        left: 5%;
        font-size: 1.3em; 
    }

    .headtext {
        font-size: 1em; 
    }

    .subtext {
        top: 20%;
        left: 5%;
        font-size: 0.9em; 
    }
}



