#masthead {
    margin-top:20px;
    margin-left:20px;
    margin-bottom:20px;
    font-size:3em;
    font-family:"DM Serif Display", serif;
    color:darkred;
}

#smalltext{
    margin-left:20px;
    font-size:1.2em;
    font-family:Helvetica, sans-serif;
    margin-top:-17px;
    color:black;
}

h1 {
    margin-top:20px;
    margin-left:20px;
    margin-bottom:20px;
    font-size:2em;
    font-family:Helvetica, sans-serif;
}

h2 {
    font-size:20px;
    font-style:bold;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:13px;
}

#byline{
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
    margin-left:20px;
    margin-top:-13px;
    margin-bottom:20px;
}

hr { width:100%; height:1px; background: #000000 } 

#content {
    margin: 0 auto;
    width: 900px;
}

#captions {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style:italic;
    font-size:0.75em; 
}

.image7 {
    margin-top:20px;
    width: 900px;
    height: 600px;
}

.image2 {
    margin-top:20px;
    width: 900px;
    height: 500px;
}

.image5 {
    margin-top:20px;
    width: 900px;
    height: 500px;
}

.pullquote {
    font-size:2em !important;
    font-family:"DM Serif Display", serif;
    color:darkred;
    font-style:italic;
}

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}


.inter-sansserifbodytext {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <400>;
  font-style: normal;
}
