h1 {
    text-align:center;
    padding-top:30px;
}

#byline {
    text-align:center;
    font-size:1.25em;
}

h2 {
    margin:0 auto;
    width:880px;
    padding-top:40px;
    padding-bottom:20px;
}

.container {
    margin:0 auto;
    width:900px;
    font-family:'Times New Roman', Times, serif;
}

.image {
    width: 600px;
    height:800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.captions {
    display: block;
    width:600px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:50px;
}

footer {
    background-color:black;
    padding-left:10px;
    color:white;
}